#clickable-container {
  width: 80%;
  height: 80%;
  border: 1px solid #ccc;
  margin: auto;
  text-align: center;
}
#inner-container {
  width: 98px;
  height: 98px;
  border: 1px solid #ccc;
}

.clicked {
  opacity: 0.7;
}

#box-container {
  margin: 50px auto;
}
